/*.box::after{
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
    }*/
    #box{
        margin-top: 15px;
        box-shadow: 0 0 10px #ccc;
        background: #fff;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        position: relative;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }
    .pic{
        width: 12%;
        height: 80px;
        float: left;
        position: relative;

        /*border-top-left-radius: 30px;*/
    }
    .pic >a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .pic > a>img{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        border-top-left-radius: 30px;
    }
    .pic > .cover{
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right:0;
        display: block;
    }
    .ctrl-box{
        float: right;
        width: 88%;
        height: 80px;
        overflow:hidden;
        position: relative;
    }
    .logo{
        display: inline-block;
        background: url(/images/audio_sprite.png) no-repeat 0 9999px;
    }
    .title{
        line-height: 40px;
        overflow: hidden;
    }
    .content{
        margin-left: 10px;
        font-size: 1.1em;
        text-align: left;
    }
    .content sub{
        margin-left: 15px;
        position: relative;
        top: 8px;
    }
    .bar{
        position: relative;
        left: 0;
        top: 0;
        height: 2px;
        background: #cdcdcd;
        width: 94%;
        top: 30px;
        margin-left: 4px;
    }
    .played{
        height: 2px;
        background-color: deepskyblue;
        width: 0;
    }
    .thumb{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        background: gray;
        position: relative;
        top: -6px;
        background-color: palevioletred;
    }
     .ctrl-box .menu{
       position: absolute;
        right: 2%;
        top: 20px;
        margin-top: 0;
        width: 30%;
    }
    .ctrl-box .switch{
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 2px;
        right: 5px;
        line-height: 20px;
        font-size: 18px;
        opacity: .7;
    }
    .ctrl-box .switch:hover{
        opacity: 1;
        cursor: pointer;
    }
    .menu i{
        display: inline-block;
        width: calc(100%/5);
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 5px;
        opacity: .7;
        cursor: pointer;
        font-size: 25px;
    }
    .menu i:hover{
        opacity: 1;
    }
    .music-list{
        position: relative;
    }
    .music-list ul{
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 0;
        max-height: 250px;
        background-color: rgba(255,255,255,.4);
    }
    .music-list h5{
        margin:0;
    }
    .music-list ul li{
        position: relative;
    }
    
    .music-list ul li h5{
        display: inline-block;
        margin-left: 5px;
    }
    .music-list ul li h5.author{
        position: absolute;
        right: 20px;
        height: 100%;
        line-height: 2.5em;
    }
    .music-list ul li i{
        display: inline-block;
        margin-left: 10px;
    }
    .music-list ul li:nth-child(even){
        background-color: rgba(233, 233, 233, 0.7);
        
    }
    .music-list ul li:nth-child(odd){
        background-color: rgba(255, 255, 255, 0.5);
    }

    #mycanvas{
        height: 250px;
        width: 100%;
        position: absolute;
        top: 80px;
        display: none;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    @media screen and (max-width: 450px){
        .ctrl-box .menu {
            position: absolute;
            width: 50%;
            left: 30px;
            top: 35px;
        }
        .ctrl-box .menu i{
            font-size: 20px;
        }
        .ctrl-box .switch{
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 2px;
            right: 2px;
            line-height: 20px;
            font-size: 18px;
            opacity: .7;
        }
        .bar {
            width: 85%;
        }
        .pic{
            width: 23%;
            height: 80px;
        }
        .ctrl-box{
            height: 80px;
            width: 77%;
        }
        .content{
            font-size: 13px;
        }
    }

    .darken{
        background-color: rgba(112, 19, 65, 0.5) !important;
    }